/*
   miércoles, 19 de octubre de 201613:53:53
   User: 
   Server: (localdb)\MSSQLLocalDB
   Database: INET_TEST_V6
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Solicitudes ADD
	[Level] nvarchar(1000) NULL
GO
ALTER TABLE dbo.Solicitudes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
