/*
   jueves, 20 de octubre de 201623:01:21
   User: 
   Server: (localdb)\MSSQLLocalDB
   Database: INET_TEST_V6
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.InstitutionLevels
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name nvarchar(100) NOT NULL,
	Code int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.InstitutionLevels ADD CONSTRAINT
	X_InstitutionLevels PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.InstitutionLevels ADD CONSTRAINT
	IX_InstitutionLevels UNIQUE NONCLUSTERED 
	(
	Name
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.InstitutionLevels SET (LOCK_ESCALATION = TABLE)
GO

insert into InstitutionLevels (Code, Name) values (3,'Secundario Técnico'),
(4,'Superior Técnico'),
(5,'Secundario Común'),
(6,'Superior Común'),
(1,'Formación Profesional'),
(7,'Nivel Inicial'),
(8,'Nivel Primario')
GO

COMMIT
