USE [INET_PROD_V2]
GO
ALTER TABLE [dbo].[webpages_RolePermissionStatuses] DROP CONSTRAINT [FK_webpages_RolePermissionStatuses_webpages_Permissions]
GO
ALTER TABLE [dbo].[webpages_RolePermissionStatuses] DROP CONSTRAINT [FK_webpages_RolePermissionStatuses_Status]
GO
ALTER TABLE [dbo].[webpages_RolePermissionStatuses] DROP CONSTRAINT [FK_RolePermissionStatuses_webpages_Roles]
GO
ALTER TABLE [dbo].[webpages_Permissions_StatusCriterions] DROP CONSTRAINT [fk_webpages_Permissions_StatusCriterions_StatusCriterionsId]
GO
ALTER TABLE [dbo].[webpages_Permissions_StatusCriterions] DROP CONSTRAINT [fk_webpages_Permissions_StatusCriterions_PermissionId]
GO
/****** Object:  Index [UQ__webpages__0FFDA3573CD3BD1E]    Script Date: 26/2/2018 19:03:02 ******/
ALTER TABLE [dbo].[webpages_Permissions] DROP CONSTRAINT [UQ__webpages__0FFDA3573CD3BD1E]
GO
/****** Object:  Table [dbo].[webpages_RolePermissionStatuses]    Script Date: 26/2/2018 19:03:02 ******/
DROP TABLE [dbo].[webpages_RolePermissionStatuses]
GO
/****** Object:  Table [dbo].[webpages_Permissions_StatusCriterions]    Script Date: 26/2/2018 19:03:02 ******/
DROP TABLE [dbo].[webpages_Permissions_StatusCriterions]
GO
/****** Object:  Table [dbo].[webpages_Permissions]    Script Date: 26/2/2018 19:03:02 ******/
DROP TABLE [dbo].[webpages_Permissions]
GO
/****** Object:  Table [dbo].[webpages_Permissions]    Script Date: 26/2/2018 19:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Permissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](256) NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_Permissions_StatusCriterions]    Script Date: 26/2/2018 19:03:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Permissions_StatusCriterions](
	[PermissionId] [int] NOT NULL,
	[StatusCriterionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC,
	[StatusCriterionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_RolePermissionStatuses]    Script Date: 26/2/2018 19:03:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_RolePermissionStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermissionId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[StatusId] [int] NULL,
 CONSTRAINT [PK_webpages_RolePermissionStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[webpages_Permissions] ON 
GO
INSERT [dbo].[webpages_Permissions] ([PermissionId], [PermissionName], [PermissionCode]) VALUES (1, N'Reporte ejecución presupuestaria provincial por eje y lineas', N'REPORT_BUDGET_BY_PROVINCE')
GO
INSERT [dbo].[webpages_Permissions] ([PermissionId], [PermissionName], [PermissionCode]) VALUES (2, N'Reporte estado de cuenta de las provincias', N'REPORT_STATEMENT_OF_ACCOUNTS')
GO
INSERT [dbo].[webpages_Permissions] ([PermissionId], [PermissionName], [PermissionCode]) VALUES (3, N'Reporte de planes', N'REPORT_IMPROVEMENT_PLANS')
GO
SET IDENTITY_INSERT [dbo].[webpages_Permissions] OFF
GO
INSERT [dbo].[webpages_Permissions_StatusCriterions] ([PermissionId], [StatusCriterionId]) VALUES (11, 1)
GO
INSERT [dbo].[webpages_Permissions_StatusCriterions] ([PermissionId], [StatusCriterionId]) VALUES (15, 1)
GO
INSERT [dbo].[webpages_Permissions_StatusCriterions] ([PermissionId], [StatusCriterionId]) VALUES (16, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__webpages__0FFDA3573CD3BD1E]    Script Date: 26/2/2018 19:03:03 ******/
ALTER TABLE [dbo].[webpages_Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[webpages_Permissions_StatusCriterions]  WITH CHECK ADD  CONSTRAINT [fk_webpages_Permissions_StatusCriterions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[webpages_Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[webpages_Permissions_StatusCriterions] CHECK CONSTRAINT [fk_webpages_Permissions_StatusCriterions_PermissionId]
GO
ALTER TABLE [dbo].[webpages_Permissions_StatusCriterions]  WITH CHECK ADD  CONSTRAINT [fk_webpages_Permissions_StatusCriterions_StatusCriterionsId] FOREIGN KEY([StatusCriterionId])
REFERENCES [dbo].[StatusCriterions] ([Id])
GO
ALTER TABLE [dbo].[webpages_Permissions_StatusCriterions] CHECK CONSTRAINT [fk_webpages_Permissions_StatusCriterions_StatusCriterionsId]
GO
ALTER TABLE [dbo].[webpages_RolePermissionStatuses]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissionStatuses_webpages_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_RolePermissionStatuses] CHECK CONSTRAINT [FK_RolePermissionStatuses_webpages_Roles]
GO
ALTER TABLE [dbo].[webpages_RolePermissionStatuses]  WITH CHECK ADD  CONSTRAINT [FK_webpages_RolePermissionStatuses_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[webpages_RolePermissionStatuses] CHECK CONSTRAINT [FK_webpages_RolePermissionStatuses_Status]
GO
ALTER TABLE [dbo].[webpages_RolePermissionStatuses]  WITH CHECK ADD  CONSTRAINT [FK_webpages_RolePermissionStatuses_webpages_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[webpages_Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[webpages_RolePermissionStatuses] CHECK CONSTRAINT [FK_webpages_RolePermissionStatuses_webpages_Permissions]
GO
