delete from Budgets 
where Budgets.FieldId IN (select Fields.Id from Fields where Fields.StatusId <> 36) 
and Budgets.SchoolYearId IN (select SchoolYears.Id from SchoolYears where SchoolYears.Cycle = 2018)