/*
   jueves, 03 de diciembre de 201504:51:04 p.m.
   User: 
   Server: (localdb)\MSSQLLocalDB
   Database: INET_TEST_V7
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Dictums ADD
	DictumNumber nvarchar(100) NULL
GO
ALTER TABLE dbo.Dictums SET (LOCK_ESCALATION = TABLE)
GO
update Dictums set Dictums.DictumNumber =  CAST ( Number AS nvarchar(100) ) + '/' + (select TOP 1 x.Cycle from Dictums_Solicitudes as ds inner join Solicitudes as s on s.Id = ds.SolicitudeId inner join SchoolYears as x on x.Id = s.SchoolYearId where ds.DictumId = Dictums.Id);
GO
CREATE UNIQUE NONCLUSTERED INDEX [Unique_DictumNumber] ON [dbo].[Dictums]
(
	[DictumNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
COMMIT
