/*
   lunes, 02 de noviembre de 201504:17:46 p.m.
   User: 
   Server: (localdb)\MSSQLLocalDB
   Database: INET_TEST_V6
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ImprovementPlans ADD
	InstitutionName nvarchar(250) NULL,
	Location nvarchar(250) NULL,
	Department nvarchar(250) NULL
GO
ALTER TABLE dbo.ImprovementPlans SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
