/*
   miércoles, 30 de noviembre de 201616:07:43
   User: 
   Server: (localdb)\MSSQLLocalDB
   Database: INET_TEST_V6
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ImprovementPlans ADD
	Dependence nvarchar(100) NULL
GO
ALTER TABLE dbo.ImprovementPlans SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ImprovementPlans', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ImprovementPlans', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ImprovementPlans', 'Object', 'CONTROL') as Contr_Per 