<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- START AGREGAR -->
    <add key="Docx.PageSize.width" value="210" />
    <add key="Docx.PageSize.height" value="297" />
    <add key="Docx.DefaultStyle" value="font-family: Arial; font-size: 11pt;" />
    <!-- END AGREGAR -->
  </appSettings>
</configuration>