/*
   lunes, 08 de junio de 201501:09:51 p.m.
   User: 
   Server: (localdb)\MSSQLLocalDB
   Database: INET_TEST_V5
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO

ALTER TABLE dbo.Templates ADD
	marginLeft float(53) NULL,
	marginRight float(53) NULL,
	marginTop float(53) NULL,
	marginBottom float(53) NULL
GO

ALTER TABLE dbo.Templates SET (LOCK_ESCALATION = TABLE);
GO;

update [Templates] set 
      [marginLeft] = 10
      ,[marginRight] = 10
      ,[marginTop] = 15
      ,[marginBottom] = 25;
	  GO;

update [Templates] set 
      [marginLeft] = 40
      ,[marginRight] = 10
      ,[marginTop] = 50
      ,[marginBottom] = 25
	  where Id in (33, 34, 35);
	  GO;

ALTER TABLE dbo.Templates ADD
	SignatureImagePath nvarchar(200) NULL;
	GO;

ALTER TABLE dbo.Templates ADD
	Header nvarchar(MAX) NULL
GO
ALTER TABLE dbo.Templates SET (LOCK_ESCALATION = TABLE)
GO

COMMIT