
ALTER TABLE [dbo].[Budgets] DROP CONSTRAINT [FK_Budgets_Categories]
GO

ALTER TABLE [dbo].[Budgets] DROP COLUMN [CategoryId]
GO

/****** Object:  Table [dbo].[Categories]    Script Date: 29/10/2015 04:36:11 p.m. ******/
DROP TABLE [dbo].[Categories]
GO