/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.UserProfile ADD
	Province_Id int NULL
GO
ALTER TABLE dbo.UserProfile SET (LOCK_ESCALATION = TABLE)
GO
-- Creating foreign key on [Province_Id] in table 'UserProfiles'
ALTER TABLE [dbo].[UserProfile]
ADD CONSTRAINT [FK_UserProfileProvince]
    FOREIGN KEY ([Province_Id])
    REFERENCES [dbo].[Provinces]
        ([Id])
    ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
-- Creating non-clustered index for FOREIGN KEY 'FK_UserProfileProvince'
CREATE INDEX [IX_FK_UserProfileProvince]
ON [dbo].[UserProfile]
    ([Province_Id]);
GO
COMMIT