delete from webpages_UsersInRoles where RoleId = 8;

delete from UserProfile_Fields where UserProfile_Fields.UserId IN (select UserId from webpages_UsersInRoles where webpages_UsersInRoles.RoleId IN (1,6) );

update webpages_Roles set RoleName = 'Operador Provincial' where RoleId = 7;
update webpages_Roles set RoleName = 'Referente Jurisdiccional' where RoleId = 8;

SET IDENTITY_INSERT webpages_Roles ON
insert into webpages_Roles (RoleId, RoleName) values (9, 'Delegado Provincial INET');
SET IDENTITY_INSERT webpages_Roles OFF
