/****** Object:  Table [dbo].[UserProfile_Provinces]    Script Date: 14/03/2016 06:06:18 p.m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[UserProfile_Provinces](
	[UserId] [int] NOT NULL,
	[ProvincesId] [int] NOT NULL,
 CONSTRAINT [PK_UserProfile_Provinces] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProvincesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[UserProfile_Provinces]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_Provinces_Provinces] FOREIGN KEY([ProvincesId])
REFERENCES [dbo].[Provinces] ([Id])
GO

ALTER TABLE [dbo].[UserProfile_Provinces] CHECK CONSTRAINT [FK_UserProfile_Provinces_Provinces]
GO

ALTER TABLE [dbo].[UserProfile_Provinces]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_Provinces_UserProfile] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO

ALTER TABLE [dbo].[UserProfile_Provinces] CHECK CONSTRAINT [FK_UserProfile_Provinces_UserProfile]
GO

ALTER TABLE dbo.UserProfile
	DROP CONSTRAINT FK_UserProfileProvince
GO
ALTER TABLE dbo.Provinces SET (LOCK_ESCALATION = TABLE)
GO

DROP INDEX IX_FK_UserProfileProvince ON dbo.UserProfile
GO
ALTER TABLE dbo.UserProfile
	DROP COLUMN Province_Id
GO
ALTER TABLE dbo.UserProfile SET (LOCK_ESCALATION = TABLE)
GO

SET IDENTITY_INSERT Provinces ON
INSERT INTO [Provinces]
           ([Id], [Name]
           ,[Number]
           ,[Code])
     VALUES
           (25, 'Nacional'
           ,'00'
           ,'NAC');
SET IDENTITY_INSERT Provinces OFF
GO